DEBUG=True
SECRET_KEY = 
JWT_ACCESS_TOKEN_LIFETIME_HRS=4
JWT_REFRESH_TOKEN_LIFETIME_HRS=48
JWT_KEY=
PASSWORD_MIN_LENGTH=8
THROTTLE_RATES_IN_DAYS=1000000
SUPER_ADMIN_PASSWORD=
PROJECT_NAME=poc


# --- Database settings---
DB_ENGINE=
DB_NAME=